<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-header" href="#">
        <img src="/assets/march_madness_logo.png" width="80" height="40" alt="">
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Standings </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Scores</a>
          </li>
        </ul>
      </div>