<div class="page">
<div id="header">
    <h3>Welcome to the Pool 2020</h3>
</div>
<div class="body">
    <p>
    I don't like how ESPN scores brackets so let's do this instead.<br>
    I'll score all of the brackets at the end of each round and update the standings.<br>
    You can click on someone's name in the standings to see their bracket. <br>
    If you think I made a mistake in scoring a bracket, please tell me!
    </p>
</div>
<div id="header">
    <h3>Scoring</h3>
</div>
<div class="body">
    <p>
    First/Second Round: Value of the seed<br>
    Sweet Sixteen: 10 points<br>
    Elite Eight: 15 points<br>
    Final Four: 20 points<br>
    Championship: 30 points<br>
    </p>
</div>
<div id="header">
    <h3>Payout</h3>
</div>
<div class="body">
    <p>
    First: 80%<br>
    Second: 20%<br>
    Third: Money back<br>
    </p>
</div>
</div>